{{! NavBar }}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search" />
        <button
          class="btn btn-secondary my-2 my-sm-0"
          type="submit"
        >Search</button>
      </form>
    </div>
  </div>
</nav>

{{! NavBar }}

{{#each travelers}}
  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div
      class="card-header"
      style="display: flex;justify-content:space-between"
    >
      <span>{{name}}</span>
      <button
        data-bs-toggle="modal"
        data-bs-target="#travel-modal"
        type="button"
        class="btn travel-btn btn-light"
        data-id={{id}}
      >Travel</button>
    </div>
    <div class="card-body">
      <h4 class="card-title">{{email}}</h4>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Ipsa error cupiditate minima, impedit nisi amet itaque, officia
        hic quasi facere ratione quidem molestias eveniet sed vero libero. Iure,
        doloremque facilis.</p>
    </div>
  </div>
{{/each}}

<div class="modal fade" id="travel-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pick a place to travel</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <div class="form-group has-success">
          <label class="form-label mt-4" for="inputValid">Enter numbers only!</label>
          <input
            type="text"
            value="correct value"
            class="form-control is-valid"
            id="budget-input"
          />
          <div class="valid-feedback">please enter a budget</div>
        </div>
      </div>
    </div>
  </div>
</div>